@import "variables.scss";

.app-header {
  background-color: $color;
  height: 100px;
  padding: 20px;
  text-align: center;
  font-family: $font-app-family;
  margin-bottom: 20px;
  h1 {
    color: white;
  }
}

.ant-input {

  &:hover {
    border-color: $color-hover !important;
  }
}

.ant-calendar-selected-day .ant-calendar-date {
  background-color: $color !important;
  border-color: $color !important;
}

.ant-table-thead {
  tr {
    th {
      background-color: $color-table !important;
    }
  }
}

.ant-btn-primary {
  background-color: $color !important;
  border-color: $color !important;
  color: white !important;
  &:hover {
    background-color: $color-hover !important;
    border-color: $color-hover !important;
  }
}