@import "variables.scss";

.dashboard-menu {
  background-color: $color-menu;
  border-radius: 12px;

  @media (min-width: 768px) {
    margin-right: 20px;
    margin-top: 50px;
  }

  ul {
    list-style: none;
    padding: 10px;
    li {
      padding: 5px;
      border-radius: 12px;
      background-color: $color-table;
      margin: 10px;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
      a {
        color: black;
      }
    }
  }
}