.dashboard-working-day {
  @media (min-width: 768px) {
    margin-left: 20px;
    margin-top: 50px;
  }
  margin-top: 20px;

  .btn-large {
    height: 40px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

}

.margin-top-20 {
  margin-top: 20px;
}