@import "variables.scss";

.login-form {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: $font-app-family;
  .ant-btn {
    width: 100%;
    color: $color
  }
}