@import "variables.scss";

.manage-periods {

  .ant-btn-primary {
    margin-bottom: 10px;
    background-color: white !important;
    border-color: $color !important;
    color: $color !important;
    &:hover {
      color: $color-hover !important;
      border-color: $color-hover !important;
    }
  }
  a {
    color: $color;
  }

  .width-for-mobile-100 {
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}