patient-form {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.ant-form-item-label {
  line-height: 20px;
}

.ant-col-sm-12 {
  @media (min-width: 768px) {
    padding-left: 20px;
  }
}

.ant-col-24 {
  @media (min-width: 768px) {
    padding-left: 20px;
  }
}