@import "variables.scss";

.patient-panel {

  .ant-btn-primary {
    @media (min-width: 768px) {
      width: 500px
    }
    width: 100%;
  }

  .ant-col-18 {
    padding: 20px;
  }

  .ant-col-6 {
    padding: 20px;
  }
}