@import url('https://fonts.googleapis.com/css?family=Poppins');

$font-app-family: 'Poppins', sans-serif;
$color: #137373d6;
$color-hover: rgba(57, 173, 191, 0.84);
$color-table: #13737380;
$color-menu: #13737314;